<div class="panel panel-default">
    <div class="painel-heading well-lg">Add New User</div>
    <div class="panel-body">
        <form action="/users" method="POST" class="form-inline" role="form">
        {{>users/_form}}
        </form>
    </div>
</div>